.switch{
background-image: linear-gradient(#dd6565,#0cf0f8);

width: 400px;

height: 25px;





}
span{

    cursor: pointer;
    font-size: 20px;


}

.Spage{
background-image: linear-gradient(#38d1bd,#dd6565);
width: 400px;
height: 600px;



}
.Lpage{


    background-image: linear-gradient(#38d1bd,#dd6565);
    width: 400px;
    height: 600px;
    


}

button{margin-left: 150px;
margin-top: 10px;
border: none;
border-radius: 10px;}
input{margin-left: 100px;
padding:5px;
margin-top:3px ;
border: none;

}

.container{
width: 400px;
height:425px ;
overflow: hidden;
margin: 100px;



}